.banner{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: $white;
    padding: 2rem 3rem;
    border-bottom-right-radius: 25%;
    background-color: $black;
    position: relative;

    & > div {
        flex: 0 0 48%;
    }

    @media screen and (min-width: 62.5em){
        padding: 4rem;
        flex-direction: row;
    }

    &__content{
        font-size: 2rem;
        text-transform: uppercase;
    }
    &__title{
        font-size: 4rem;
        margin: 3rem auto;
    }
    &__link{
        display: inline-block;
        margin: 1rem auto;
        color:$white;
        background-color: $green;
        font-size: 3rem;
        text-decoration: none;
        border: 2px solid $green;
        padding: 1rem 2rem;
        border-radius: 4px;
        transition: transform 0.2s;

        &:hover{
            transform: scale(1.05);
        }
    }
   
    &__info{
        margin: 3rem 0;
    }
    &__text{
        font-size: 2.4rem;
    }

}