.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    border-bottom: 6px solid $green;

    &__logo{
        width: 200px;

        img{
            width: 100%;
        }
    }
    &__links{
        
    }
    &__link{
        position: relative;
        margin: 1rem 2rem;
        text-decoration: none;
        color: $green;
        font-size: 2.4rem;

        &::before{
            content: "";
            width: 0;
            height: 6px;
            background-color: $green;
            position: absolute;
            top: 100%;
            left: 0;
            border-radius: 4px;
            transition: width 0.2s;
        }

        &:hover{

            &::before{
                width: 100%;
            }
        }
    }
}