*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
$black: #2c2c2c;
$white: rgb(229, 229, 229);
$green: #159c51;
$red: rgb(221, 60, 60);
html {
  font-size: 62.5%;
}
body{
  font-family: 'Noto Serif', serif;
  color: $black;
}
button{
  cursor: pointer;
}

@import "./Styles/Nav.scss";
@import "./Styles/Banner.scss";
@import "./Styles/Workout.scss";